.dashboard{

    background:#eef3f9;

    min-height:100vh;

    padding-bottom:40px;

}

.section-title{

    font-weight:bold;

    margin-top:40px;

    margin-bottom:25px;

    color:#444;

}
.welcome-box{

    background:white;

    padding:30px;

    border-radius:20px;

    margin-bottom:30px;

}

.welcome-box h2{

    font-weight:bold;

}

.welcome-box p{

    color:gray;

}