<div class="login-page">

    <div class="login-card">

        <div class="text-center mb-4">

            <h1 class="logo">EMS</h1>

            <h3 class="title">Employee Management</h3>

            <p class="subtitle">Welcome Back 👋</p>

        </div>

        <form (ngSubmit)="login()">

            <div class="mb-3">

                <label>Username</label>

                <input
                    type="text"
                    class="form-control custom-input"
                    placeholder="Enter Username"
                    [(ngModel)]="username"
                    name="username">

            </div>

            <div class="mb-4">

                <label>Password</label>

                <div class="input-group">

                    <input
                        [type]="hidePassword ? 'password' : 'text'"
                        class="form-control custom-input"
                        placeholder="Enter Password"
                        [(ngModel)]="password"
                        name="password">

                    <button
                        class="btn eye-btn"
                        type="button"
                        (click)="hidePassword=!hidePassword">

                        {{ hidePassword ? '👁️' : '🙈' }}

                    </button>

                </div>

            </div>

            <button class="btn login-btn w-100">

                Login

            </button>

        </form>

    </div>

</div>