<nav class="navbar navbar-expand-lg shadow custom-navbar">

    <div class="container-fluid">

      

        <div class="d-flex align-items-center">

            <div class="avatar me-3">

                {{ fullName.charAt(0) }}

            </div>

            <div class="me-4">

                <div class="welcome">

                    Welcome

                </div>

                <strong>

                    {{ fullName }}

                </strong>

            </div>

            

        </div>

    </div>

</nav>